asn1crypto==0.23.0
biopython==1.69
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
colorlover==0.2.1
cryptography==2.1.4
dash==0.19.0
dash-core-components==0.15.0rc1
dash-html-components==0.8.0
dash-renderer==0.11.1
decorator==4.1.2
enum34==1.1.6
Flask==0.12.2
Flask-Compress==1.4.0
functools32==3.2.3.post2
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.18
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
msgpack-python==0.4.8
nbformat==4.4.0
numpy==1.22.0
pandas==0.22.0
plotly==2.2.2
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.14.1
git+git://github.com/susannvorberg/contact_prediction.git@199aae6bf2317c2e5d0a686b60a195304275bfd6
